[submodule "deps/seam"]
	path = deps/seam
	url = https://github.com/JialongWang1201/seam.git

[submodule "deps/wire"]
	path = deps/wire
	url = https://github.com/JialongWang1201/wire.git

[submodule "deps/libgit2"]
	path = deps/libgit2
	url = https://github.com/libgit2/libgit2.git
